<div class='hero _full'>
  <h1>สวัสดี ไทยยูไอ</h1>
  <h2>ตัวอย่างโค้ดเริ่มต้นสำหรับการสร้างเว็บไซต์</h2>
  <p>Open Source ในรูปแบบ HTML/CSS/JS และ Astro Web Framework</p>
</div>

<style lang='scss'>
  .hero {
    text-align: center;
    padding: calc(4 * var(--th-space)) var(--th-space) calc(3 * var(--th-space));
    background: linear-gradient(180deg, #e3edfe 0%, rgba(227, 237, 254, 0) 100%);
    margin-bottom: var(--th-space);
    html.dark & {
      background: linear-gradient(180deg, #111111 0%, rgba(26, 26, 26, 0) 100%);
    }
  }
  h1 {
    font-size: 3.2em;
    margin-top: 0;
  }
  h2 {
    font-size: 1.5em;
    font-weight: normal;
  }
</style>
